@font-face{
    font-family: Flower;
    src: url(Flower/AdventPro-SemiBold.ttf);

}

@font-face{
    font-family: Wanna;
    src: url(Flower/SansitaSwashed-Regular.ttf);

}

@font-face{
    font-family: Wanna2;
    src: url(Flower/SansitaSwashed-light.ttf);

}